package views 

import "github.com/armadi1809/moviesdiary/tmdb"

templ BrowsePage(loggedIn bool, movies []tmdb.TmdbMovie) {
	@Layout(loggedIn) {
		<div class="flex gap-3 flex-wrap">
			for _, movie := range movies {
				@MovieCard(movie.Title, movie.Overview, movie.PosterPath)
			}
		</div>
	}
}
