package views

type Movie struct {
	name        string
	description string
}

templ HomePage(name string) {
	@Layout(name != "") {
		if len(name) > 0 {
			<div>Welcome back! { name }</div>
		} else {
			<div>Welcome to movies diary please login or sign up to start</div>
		}
	}
}
