package views

type Movie struct {
	name        string
	description string
}

var movies = []Movie{{name: "fight club", description: "testing desc hereeeee"}, {name: "Monkey Club", description: "watched this on saturday"}}

templ HomePage(name string) {
	@Layout(name != "") {
		if len(name) > 0 {
			<div>Welcome back! { name }</div>
		} else {
			<div>Welcome to movies diary please login or sign up to start</div>
		}
	}
}
