package views

templ Hello(name string) {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/public/output.css" rel="stylesheet"/>
			<title>Over Caffeinated</title>
		</head>
		<body>
			<div class="text-red-400">Test is changing test  { name }</div>
		</body>
	</html>
}
