package views

templ Layout(loggedIn bool) {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/public/output.css" rel="stylesheet"/>
			<script src="/public/htmx.min.js"></script>
			<title>Movies Diary</title>
		</head>
		<body class="mx-auto container">
			@Navbar(loggedIn)
			{ children... }
		</body>
	</html>
}
