package views 

import "github.com/armadi1809/moviesdiary/tmdb"

templ MoviesListContainer(movies []tmdb.TmdbMovie) {
	<div id="moviesListContainer" class="grid grid-cols-1 lg:grid-cols-2 justify-items-center gap-6 xl:gap-3 xl:grid-cols-3 mx-auto container">
		for _, movie := range movies {
			@MovieCard(movie.Title, movie.Overview, movie.PosterPath, true)
		}
	</div>
}
