package views 

templ Navbar(loggedIn bool) {
	<div class="navbar bg-base-100">
		<div class="flex-1">
			<a class="btn btn-ghost text-xl" id="home">Movies Diary</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1">
				if loggedIn {
					<li><p><a id="myMoviesTab" href="/myMovies">My Movies</a></p></li>
					<li><p><a id="browseTab" href="/browse">Browse</a></p></li>
					<li><p>Logout</p></li>
				} else {
					<li>Login</li>
				}
			</ul>
		</div>
	</div>
}
