package views 

templ Navbar(loggedIn bool) {
	<div class="navbar bg-base-100">
		<div class="flex-1">
			<a class="btn btn-ghost text-xl">Movies Diary</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1">
				if loggedIn {
					<li><a href="/browse">Browse</a></li>
					<li>Logout</li>
				} else {
					<li>Login</li>
				}
			</ul>
		</div>
	</div>
}
