package views

templ SuccessfullAdditionMessage(name string) {
	<p>Successuflly added { name } to your list of watched movies</p>
}

templ SuccessfullEditMessage(name string) {
	<p>Successuflly Edited your diary for { name }</p>
}
